body {
  font-family: Arial;
  background: #f4efe9;
  text-align: center;
  padding: 20px;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  width: 90%;
  max-width: 300px;
}

.book {
  margin: 4px;
}

@media (max-width: 600px) {
  body { font-size: 18px; }
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 12px;
}

.auth-buttons button {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}
#auth {
  max-width: 400px;
  margin: 0 auto;
}
